<div class='flex gap-4 mt-3'>
  <img src='https://appsgeyser.com/blog/wp-content/uploads/2020/09/Artboard-12-2-1024x502.png' alt='' class='w-1/2'>
  <div>
    <p class='text-xl'>
      Welcome to our Quiz App! Test your knowledge and have fun with our exciting quizzes. Choose a category and start exploring.
      <%= button_to 'Get Started', new_user_registration_path, method: :get, class: 'bg-purple-light hover:bg-purple text-white font-bold py-2 px-3 rounded mt-3 border border-purple' %>
    </p>
  </div>
</div>
