<% if resource.errors.any? %>
  <div id='error_explanation' data-turbo-cache='false' class='text-red bg-red-light border rounded p-2 mt-3 mb-2'>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
