<div class='tooltip'>
    ⓘ
    <div class='top'>
      - Single possible answer will allow the user to guess the answer.
      <br>
      - Multiple possible answers will allow the user to choose from them.
    </div>
</div>
